// Background colors
$--primary-back: #000000;
$--secondary-back: #1C1C1E;
$--tertiary-back: #2C2C2E;

// Text colors
$--primary-text: #FFFFFF;
$--secondary-text: rgb(235, 235, 245, .6);
$--tertiary-text: rgb(235, 235, 245, .3);

// Icon colors
$--primary-icons: #5B5B5F;

// Accent colors
$--red: #FF453A;
$--blue: #0A84FF;
$--dark-blue: #173C61;
$--green: #4CD964;
$--yellow: #FFCC00;
$--purple: #5856D6;
$--teal-blue: #5AC8FA;
$--orange: #FF9500;
$--transp-green: rgb(76, 217, 100, .3);
$--transp-red: rgb(255, 69, 58, .3);
