[data-theme="light"] {
	--background-primary: #F6F6F9;
	--background-secondary: #FFFFFF;

	--text-primary: #363949;
	--text-secondary: #677483;
	--text-tertiary: #97AAB4;

	--box-shadow: rgb(132, 139, 200, .18);

	--skeleton-lighter: #F4F6F8;
	--skeleton-darker: #E9ECED;
}

[data-theme="dark"] {
	--background-primary: #161A1E;
	--background-secondary: #202528;

	--text-primary: #EDEFFD;
	--text-secondary: #A3BDCC;
	--text-tertiary: #727f87;

	--box-shadow: rgb(0, 0, 0, .4);

	--skeleton-lighter: #3A4046;
	--skeleton-darker: #2B3035;
}


$--blue: #7380EC;
$--green: #41F1B6;
$--red: #FF7782;
$--yellow: #FFBB55;
$--black: #000000;
$--white: #FFFFFF;


$--background-primary: var(--background-primary);
$--background-secondary: var(--background-secondary);

$--text-primary: var(--text-primary);
$--text-secondary: var(--text-secondary);
$--text-tertiary: var(--text-tertiary);

$--box-shadow: var(--box-shadow);

$--skeleton-lighter: var(--skeleton-lighter);
$--skeleton-darker: var(--skeleton-darker);
$--linear-skeleton: linear-gradient(to right, var(--skeleton-darker) 25%, var(--skeleton-lighter) 50%, var(--skeleton-darker) 100%);
